:root {  
    
    /* ☀️*/
    --deep-forest-green: #0F291E;
    --hunter-gray: #4A5E54;
    --pure-white: #FFFFFF;
    --vibrant-spring-mint: #10B981;  /*hover state*/

    /* 🌙*/
    --fresh-mint-cream: #E6F2ED;
    --aged-sage: #839E92;
    --sub-Surface-pine: #121E1A;
    --deep-forest-onyx: #0A110E;
    --dark-mode-border: #1B2C26;
    
 }